/*HOME PAGE*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family:"Martian Mono";
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  gap: 50px;
  background-color: rgb(0, 0, 0);
  z-index:-200;
}
::-webkit-scrollbar {
  display: none;
}

.desc-text {
  color:rgb(245, 245, 232);
  padding: 0 1em;
  margin-top: -30px;
}

.main-title {
  padding-top: 6rem;
  font-size:calc(12px + 3vw);
  font-weight: lighter;
  padding-left: 0.3em;
  padding-right:0.3em;
  padding-bottom:-5vh;
  color:rgb(245, 245, 232);
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 1em;
  min-width: 1200px;
  margin-bottom: none;
}

.container .item {
  width: 100%;
  padding: 0.3em 0.3em 0.3em 0.3em;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  gap: 1vw;
  font-size: 6vw;
  border-top: 2px solid rgb(245, 245, 232);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color:rgb(245, 245, 232);
  margin-bottom: -3vw;
}

@media screen and (min-width: 1000px) {
  .container .item {
    font-size: 3.5vw;
    margin-bottom: -2.5vw;
  }
}

.item:nth-child(1) {
  border-top: 2px solid rgb(245, 245, 232);
}

.img {
  width: 2.5cap;
  height: 2.5cap;
  background:rgb(0, 0, 0);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
  object-fit: cover;
  flex: 0;
  z-index:-100;
}

img {
  width: 100%;
  height: auto;
  object-fit:cover;
}

.item:hover {
  gap: 25px;
  color:#ffe26c
}

.item:hover .img {
  flex:none;
  overflow:-moz-hidden-unscrollable;
}

.word {
  text-align: left;
}

.w1 {
  text-align: left;
}

.footer {
  padding: 0.125em 0;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: none;
  margin-top: 3vw;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0,1));
}

/*HEADER*/
.header-container {
  z-index:5;
  display:flex;
  position:fixed;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0,0));
  width:100vw;
  padding-left:15px;
  padding-right:15px;
  justify-content:space-between;
}

.left-header, .right-header {
  list-style-type: none;
}

.left-header li, .right-header li {
  display:inline-block;
}

.left-header li a, .right-header li a {
  text-decoration: none;
  display:block;
  width:100%;
  height:100%;
  color:rgb(245, 245, 232);
  font-size:15px;
  padding:5px;
}

.left-header li a:hover, .right-header li a:hover {
  color:#ffe26c;
}

/*FOOTER*/
.footer {
  display:flex;
  color:rgb(245, 245, 232);
  padding-left:25px;
  padding-right:35px;
  justify-content:space-between;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0,1));
}

.blank-space {
  margin-top:10%;
  margin-bottom: none;
}

/*PAGES PROJETS*/

.page-link {
  text-decoration: none;
}


.container-page {
  background-color:#000000;
  color:rgb(245, 245, 232);
  font-family:"Martian Mono";
  font-weight:lighter;
  display:grid;
  grid-template-columns: 25% 73%;
  column-gap: 2vw;
  padding-left:25px;
  padding-right:35px;
  font-size:13px;
}


.image-content {
  display:block;
  row-gap: 10px;
  width: 100%;
  height:100vh;
  
}

.image-projet {
  display:block;
  width: 100%;
  margin-bottom:3vw;
  object-fit:contain;
  margin-left:auto;
  margin-right:auto;

}


.text-content {
  text-justify: distribute;
  
}

.container-page:after {
  content:"";
  display:table;
  clear:both;
}

@media screen and (max-width: 1000px) {
  .image-content, .text-content, .container-page {
    width: 100%;
    grid-template-columns: 100%;
  }
}

/*Previous & next*/
.switch-container {
  display:flex;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
  width:100vw;
  padding-left:25px;
  padding-right:35px;
  justify-content:space-between;
  position: absolute;
  bottom: 0;
  right: 0;
}

.previous-switch, .next-switch {
  list-style-type: none;
}

.previous-switch li, .next-switch li {
  display:inline-block;
}

.previous-switch li a, .next-switch li a {
  text-decoration: none;
  display:block;
  width:100%;
  height:100%;
  color:rgb(245, 245, 232);
  font-size:15px;
  padding:5px;
}

.previous-switch li a:hover, .next-switch li a:hover {
  color:#ffe26c;
  }

.contact-link {
  text-decoration: underline rgb(245, 245, 232);
  color:rgb(245, 245, 232);
}

